<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">It's a year long adventure!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/the-pitch-obama.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2017</h4>
                                    <h4 class="subheading">The Pitch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After much brainstorming on what kind of experiment to fly, the team pitches the TUBULAR project to a panel of space industry experts at the European Space Research and Technology Centre (ESTEC) in Noordwijk, Netherlands.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/preliminary-design.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December – February 2018</h4>
                                    <h4 class="subheading">Preliminary Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During this phase the experiment objectives will be fixed and a complete preliminary design will be produced. The experiment requirements should be defined in detail, along with a preliminary project and test plan. This Stage culminates in the Preliminary Design Review (PDR), which is held during the Student Training Week. Prior to the PDR, Version 1 of the SED should be submitted. This document will be used to assess the experiment design, and will form the basis of the review.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/critical-design.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March – May 2018</h4>
                                    <h4 class="subheading">Critical Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By this stage the experiment design will have reached a high level of maturity. The experiment requirements should be fixed, and a detailed verification and test plan will have been drafted, along with a well thought out flight plan. Any recommendations or action items identified at PDR will have been addressed and documented. This stage ends with the Critical Design Review (CDR). Again shortly before the CDR, Version 2 of the SED should be submitted for review. Upon successful completion of the CDR the experiment design will be frozen so that it can be manufactured and verified.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/experiment-building-and-testing.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June – September 2018</h4>
                                    <h4 class="subheading">Experiment Building and Testing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Six weeks after the CDR, Version 3 of the SED – containing a final experiment design, project plan and flight plan – should be submitted again prior to an Integration Progress Review (IPR). Following the submission, experts will visit each experiment team to ensure that integration is progressing smoothly, and that any major issues identified at CDR have been closed out. The manufactured experiment and/or individual subsystems should be tested thoroughly at this stage.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/final-experiment-preparations.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2018</h4>
                                    <h4 class="subheading">Final Experiment Preparations</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Shortly before the launch campaign, the team will undergo an Experiment Acceptance Review (EAR) to ensure that the experiment is flight ready. Version 4 of the SED must be submitted with the results of this review before the experiment is integrated onto the balloon platforms. This document will contain all necessary information required by EuroLaunch for campaign operations. It should incorporate a complete description of the experiment design, as-built, along with the results of the test campaign, and detailed pre and post-flight procedures.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/launch-window.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12 – 22 October 2018</h4>
                                    <h4 class="subheading">Launch Window</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The moment of truth, hold on to your hats! The team finally launches their experiment from Esrange Space Center, Europe's premiere spaceport. Esrange is located in the very north of Sweden, above the Arctic Circle (68°N, 21°E) and has access to a vast, unpopulated impact and recovery area. The facility has been operational since 1966 and is presently used by the international scientific community for launching sounding rockets for microgravity and atmospheric research as well as high altitude balloons for astronomy, atmospheric research and drop tests of space and aerial vehicles.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" data-src="img/about/data-analysis-and-reporting.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November – December 2018</h4>
                                    <h4 class="subheading">Data Analysis and Reporting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The fifth and last version of the SED will be submitted after completion of the launch campaign, as a final report. It will represent a complete account of the whole project, and will include all as-built design documentation. The post-flight analysis and results will also be included, along with a summary of all Lessons Learned. The completion of this final report will be required for all members to receive certification of participation in the REXUS/BEXUS programme.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Publish
                                    <br>Our
                                    <br>Findings!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>