
    <!-- Clients Aside -->
    <aside id="partners" class="clients">
        <div class="container">
            <!-- First Row -->
            <div class="row" style="padding-top:100px;" align="center">
                <div class="col-md-12 col-sm-12"> 
                    <a href="https://www.rymdstyrelsen.se/" target="_blank">
                        <img src="img/logos/partners/swedish-national-space-agency-logo.png" style="max-width:600px" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a> 
                </div>
            </div>

            <!-- Second Row -->
            <div class="row">
                <div class="col-md-2 col-sm-2">             
                </div>
                <div class="col-md-4 col-sm-4">             
                    <a href="http://www.dlr.de/" target="_blank">
                        <img src="img/logos/partners/dlr-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">             
                    <a href="http://www.esa.int/" target="_blank">
                        <img src="img/logos/partners/esa-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-2">               
                </div>
            </div>

            <!-- Third Row -->
            <div class="row">
                <div class="col-md-4 col-sm-4">             
                    <a href="https://www.zarm.uni-bremen.de/" target="_blank">
                        <img src="img/logos/partners/zarm-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4" align="center"> 
                    <a href="http://www.sscspace.com/" target="_blank">
                        <img src="img/logos/partners/ssc-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">             
                    <a href="http://www.eurolaunch.org/about-us" target="_blank">
                        <img src="img/logos/partners/eurolaunch-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
            </div>

            <!-- Fourth Row -->
            <div class="row" style="padding-left:15%;padding-right:15%">
                <div class="col-md-6 col-sm-6">             
                    <a href="https://www.ltu.se/?l=en" target="_blank">
                        <img src="img/logos/partners/ltu-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">             
                    <a href="http://en.ilmatieteenlaitos.fi/" target="_blank">
                        <img src="img/logos/partners/fmi-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
            </div>

            <!-- Fifth Row -->
            <div class="row">
                <div class="col-md-4 col-sm-4">             
                    <a href="https://www.swagelok.com/en" target="_blank">
                        <img src="img/logos/partners/swagelok-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">             
                    <a href="http://www.restek.com/" target="_blank">
                        <img src="img/logos/partners/restek-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">             
                    <a href="https://www.smc.eu/" target="_blank">
                        <img src="img/logos/partners/smc-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
            </div>
            

            <!-- Sixth Row -->
            <div class="row">
                <div class="col-md-4 col-sm-4">             
                    <a href="http://teknolab.se/" target="_blank">
                        <img src="img/logos/partners/teknolab-sorbent-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">             
                    <a href="https://www.boschrexroth.com/" target="_blank">
                        <img src="img/logos/partners/bosch-rexroth-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">             
                    <a href="https://www.lagersmaskin.se/" target="_blank">
                        <img src="img/logos/partners/lmc-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
            </div>
            
            <!-- Seventh Row -->
            <div class="row">
                <div class="col-md-4 col-sm-4">             
                </div>
                <div class="col-md-4 col-sm-6">             
                    <a href="https://www.silcotek.com/" target="_blank">
                        <img src="img/logos/partners/silcotek-logo.png" class="img-responsive img-centered img-partner-logo img-valign-center" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">             
                </div>
            </div>
        </div>
    </aside>
