<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">We're just an e-mail away so don't hesitate to get in touch with us.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="https://formspree.io/{{site.email}}" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" name="_replyto" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                                <input type="hidden" name="_next" value="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Your Message *" name="message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
