 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- lazyload -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

    <script>
        $(function() {
            $('.lazy').Lazy();
        });
    </script>
                

    <!--script>
        $(function() {
            var feed = new Instafeed({
                clientId: 'tubularbexus'
            });
            feed.run();
        });
    </script-->

