<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted">Documenting our journey to the stratosphere.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                {% if (post.date | date: "%Y" <= 'now' | date: "%Y" ) and (post.date | date: "%m" <= 'now' | date: "%m") and (post.date | date: "%d") <= 'now' | date: "%d" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#{{ post.title | slugify }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/lazyload/blurred-400x400.png" data-src="img/blog/{{ post.thumbnail }}" class="img-responsive img-centered lazyload" alt="{{ post.title }}"">
                    </a>
                    <div class="portfolio-caption" style="height: 120px;">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted" style="padding-top:5px;">{{ post.subtitle }}</p>
                        <div class="byline" align="center">
                            <p style="font-size: 11px;">
                                {% if post.author-url.size > 5 %}
                                <a href="{{ post.author-url }}" target="_blank">
                                    {{ post.author }}
                                </a>
                                {% else %}
                                    {{ post.author }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
