<!-- Services Section -->
    <section id="project">
        <div class="container"> 
            <div class="row text-center">
                <img src="img/3d-model-sampling-system.jpg"/>
            </div>
            
            <div class="row text-center" style="padding:50px;">
                <h2 class="section-subheading text-muted" style="color:#FDD048">
                    Supporting Climate Change Research...<br>from the Edge of Space!
                </h2>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-fly fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Objective</h4>
                    <p class="text-muted">Support climate change research with a cost-effective and re-usable high altitude balloon air sampling system that reduces the current complexities and limitations of obtaining air samples for stratospheric greenhouse gas distribution analysis.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Motivation</h4>
                    <p class="text-muted">The idea for the experiment stems from concerns over the realities of climate change as a result of human activity coupled with the complexity and limitations of obtaining much needed greenhouse gas profile data to better understand the issue.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solution</h4>
                    <p class="text-muted">The Alternative to AirCore (AAC) sampling system will be launched as a proof-of-concept and its reliability will be validated against the samples collected by a proven AirCore sampling system that will also be part of the payload.</p>
                </div>
            </div>

            <div class="row text-center" style="padding:50px;">
                <h2 class="section-subheading text-muted">
                    <a href="https://rexusbexus.github.io/tubular/sed/BX26_TUBULAR_SEDv2-0_14May18.pdf" target="_blank">Download the latest Student Experiment Documentation (SED v2.0)</a>
                </h2>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">REXUS/BEXUS</h2>
                    <h3 class="section-subheading text-muted">Project TUBULAR is being implemented under the <a href="http://rexusbexus.net/" target="_blank">REXUS/BEXUS programme</a> which is realised under a bilateral Agency Agreement between the German Aerospace Center (DLR) and the Swedish National Space Board (SNSB). The Swedish share of the payload has been made available to students from other European countries through a collaboration with the European Space Agency (ESA). EuroLaunch, a cooperation between the Esrange Space Center of SSC and the Mobile Rocket Base (MORABA) of DLR, is responsible for the campaign management and operations of the launch vehicles. Experts from DLR, SSC, ZARM and ESA provide technical support to the student teams throughout the project. REXUS and BEXUS are launched from SSC, Esrange Space Center in northern Sweden. </h3>
                </div>
            </div>
        </div>
    </section>
