<!-- Services Section -->
    <section id="project">
        <div class="container"> 
            <div class="row text-center">
                <h2 class="section-subheading text-muted" style="color:#FDD048">
                    Supporting Climate Change Research
                    <br>
                    From the Edge of Space!
                </h2>
            </div>
            
            <div class="row" class="img-responsive" style="padding-bottom:30px;" align="center">
                <img src="img/3d-model-sampling-system.png" style="max-height:300px;" class="img-responsive"/>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Objective</h4>
                    <p class="text-muted">Support climate change research with a cost-effective and re-usable high altitude balloon air sampling system that reduces the current complexities and limitations of obtaining air samples for stratospheric greenhouse gas distribution analysis.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Motivation</h4>
                    <p class="text-muted">The idea for the experiment stems from concerns over the realities of climate change as a result of human activity coupled with the complexity and limitations of obtaining much needed greenhouse gas profile data to better understand the issue.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Solution</h4>
                    <p class="text-muted">The Alternative to AirCore (AAC) sampling system will be launched as a proof-of-concept and its reliability will be validated against the samples collected by a proven AirCore sampling system that will also be part of the payload.</p>
                </div>
            </div>

            <div class="row text-center" style="padding:15px;">
                <h2 class="section-subheading text-muted">
                    <a href="https://rexusbexus.github.io/tubular/sed/BX26_TUBULAR_SEDv5-2_26Apr21.pdf" target="_blank">Download the final Student Experiment Documentation (SED v5.2)</a>
                </h2>
                <h2>
                    <a href="https://github.com/rexusbexus/tubular/tree/gh-pages/results" target="_blank">Download the results</a>
                </h2>
                <br/>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <div class="section-subheading text-muted">
                        <a style="color:#777" href="https://rexusbexus.github.io/tubular/publications/Labr%C3%A8che%20et%20al.%20-%20Stratospheric%20Balloon%20Flight%20of%20Cost-Effective%20Sampling%20Bags%20and%20High%20Resolution%20AirCore%20to%20Measure%20Arctic%20Greenhouse%20Gas%20Concentrations%20of%20CO2%20and%20CH4.pdf" target="_blank">Labrèche G, Molas-Roca P, Lawton N, et al. (2020). Stratospheric Balloon Flight of Cost-Effective Sampling Bags and High Resolution AirCore to Measure Arctic Greenhouse Gas Concentrations of CO2 and CH4. In <em>The 3rd Symposium on Space Educational Activities</em>.</a> <a style="color:#777" href="https://doi.org/10.29311/2020.08" target="_blank"><strong>https://doi.org/10.29311/2020.08</strong></a>
                    </div>
                    <br/>
                    <div class="section-subheading text-muted">
                        <a style="color:#777" href="https://rexusbexus.github.io/tubular/publications/Fagerstr%C3%B6m%20et%20al.%20-%20Project%20TUBULAR%20-%20Use%20of%20Multi-Layer%20Foil%20Sampling%20Bags%20and%20a%20200%20Meter%20AirCore%20for%20Greenhouse%20Gas%20Sampling%20On-Board%20the%20BEXUS%2026%20Stratospheric%20Balloon%20Flight.pdf" target="_blank">Fagerström E, Lawton N, Labrèche G, et al. (2020). Project TUBULAR: Use of Multi-Layer Foil Sampling Bags and a 200 Meter AirCore for Greenhouse Gas Sampling On-Board the BEXUS 26 Stratospheric Balloon Flight. In <em>The 24th ESA Symposium on European Rocket BalloonProgrammes and Related Research</em>.</a>
                    </div>
                </div>
            </div>

            <div class="row" style="padding:15px;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">REXUS/BEXUS</h2>
                    <h3 class="section-subheading text-muted">Project TUBULAR was implemented under the <a href="http://rexusbexus.net/" target="_blank">REXUS/BEXUS programme</a> which is realised under a bilateral Agency Agreement between the German Aerospace Center (DLR) and the Swedish National Space Board (SNSB). The Swedish share of the payload was made available to students from other European countries through a collaboration with the European Space Agency (ESA). EuroLaunch, a cooperation between the Esrange Space Center of SSC and the Mobile Rocket Base (MORABA) of DLR, was responsible for the campaign management and operations of the launch vehicles. Experts from DLR, SSC, ZARM and ESA provided technical support to the student teams throughout the project. REXUS and BEXUS are launched from SSC, Esrange Space Center in northern Sweden.</h3>
                </div>
            </div>
        </div>
    </section>
