<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The tubular team</h2>
                    <h3 class="section-subheading text-muted">
                    The TUBULAR Team consists of a diverse, multinational, and inter-disciplinary group of students from Luleå University of Technology's Masters programmes in Atmospheric Studies, Space Engineering, and Spacecraft Design. Based at LTU's Space Campus in Kiruna, Sweden's space capital in the Arctic, the project's team members hail from Sweden, Bulgaria, Canada, England, Greece, Indonesia, Pakistan, and Spain.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    {% if member.social.size > 0 %}
                    <div class="team-member" style="margin-bottom:10px;">
                    {% else %}
                    <div class="team-member">
                    {% endif %}
                        <img src="img/lazyload/blurred-225x225.png" data-src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle lazyload" alt="{{ member.name }}">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}" target="_blank">
                                    <i class="fab fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div-->
        </div>
    </section>