/* Overwrite Agency theme style. */
div.intro-text{
    padding-top: 200px;
}

.navbar-default .navbar-brand {
    font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Custom styling. */
img.img-tubular-logo{
    max-width: 250px;
}

img.img-partner-logo {
    max-width: 200px;
}

img.img-partner-logo:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    cursor: pointer;
}

img.img-valign-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
}

img.img-blogpost{
    max-height: 500px;
}

h3{
    line-height: 1.5;
}

